<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field">
      <%= f.hidden_field :is_gift, :value => 'true' %>
    </div>
    <div class="col-lg-12">
      <p style="text-align:left;">De la part de (vous)</p>
    </div>
    <div class="col-lg-4">
      <div class="field">
        <%= f.text_field :sender_civil_status, placeholder: 'Civilité' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="field">
        <%= f.text_field :sender_last_name, placeholder: 'Nom' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="field">
        <%= f.text_field :sender_first_name, placeholder: 'Prenom' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="field">
        <%= f.text_field :sender_email, placeholder: 'Email' %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="field">
        <%= f.text_field :sender_phone_number, placeholder: 'Telephone' %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <p style="text-align:left;">L’heureux bénéficiaire</p>
    </div>
    <div class="col-lg-4">
      <div class="field">
        <%= f.text_field :civil_status, placeholder: 'Civilité' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="field">
        <%= f.text_field :last_name, placeholder: 'Nom' %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="field">
        <%= f.text_field :first_name, placeholder: 'Prenom' %>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="field">
        <%= f.text_field :gift_amount, placeholder: 'Montant du cours cadeau (en EUR)' %>
      </div>
    </div>
    <div class="col-lg-12">
      <%= f.text_area :message_for_gift_receiver, placeholder: 'Message personnalisé à l’attention du bénéficiaire', cols: "30", rows: "5" %>
    </div>
    <div class="col-lg-12">
      <%= f.text_area :message_for_admin, placeholder: 'Message personnalisé à notre attention', cols: "30", rows: "5" %><br><br>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Envoyer", :style => "width:20%;display:none;" %>
  </div>
<% end %>
