<div class="sticky">
  <a href='/students/new'>Demande express</a>
</div>
<div class="container-fluid" id="header-container">
  <div class="row text-center" id="header-descriptors" style="margin-top:5em;">
    <div class="col-lg-4">
      <%= image_tag('logo_alt.png', :alt => "Image", :class => "logo-bird") %>
      <h2>Cours 100% personnalisés</h2>
    </div>
    <div class="col-lg-4">
      <%= image_tag('logo_alt.png', :alt => "Image", :class => "logo-bird") %>
      <h2>Professeurs sélectionnés</h2>
    </div>
    <div class="col-lg-4">
      <%= image_tag('logo_alt.png', :alt => "Image", :class => "logo-bird") %>
      <h2>30 disciplines accessibles</h2>
    </div>
  </div>
  <div class="row text-center" id="header-descriptors" style="padding-bottom:2em;">
    <div class="col-lg-4">
      <%= image_tag('logo_alt.png', :alt => "Image", :class => "logo-bird") %>
      <h2>6/7 de 7h à 22H30</h2>
    </div>
    <div class="col-lg-4">
      <%= image_tag('logo_alt.png', :alt => "Image", :class => "logo-bird") %>
      <h2>Déductible des impôts</h2>
    </div>
    <div class="col-lg-4">
      <%= image_tag('logo_alt.png', :alt => "Image", :class => "logo-bird") %>
      <h2>Ecoute & Conseils</h2>
    </div>
  </div>
  <div class="row text-center" style="border-top:5px solid white;border-bottom:5px solid white;background-color:rgba(0, 0, 0, 0.7); font-size:0.75em;" id="header-descriptors">
    <div class="col-lg-4">
      <h2>1. J’envoie ma demande</h2>
    </div>
    <div class="col-lg-4">
      <h2>2. Nous vous conseillons et personnalisons vos cours</h2>
    </div>
    <div class="col-lg-4">
      <h2>3. Vous profitez de vos cours avec votre prof dédié</h2>
    </div>
  </div>
  <div class="row" id="header-descriptors">
    <div class="col-lg-6">
      <a href="#cours-carousel" id="header-call-to-action" style="float:right;">Je choisie mon cours</a>
    </div>
    <div class="col-lg-6">
      <a href="#events-carousel" id="header-call-to-action" style="float:left;">Je prépare un évènement</a>
    </div>
  </div>
</div>
<div class="container-fluid" id="testimonials-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Témoignages</h1>
    </div>
  </div>
  

  <div class="row">
    <div class="container">
    <div class="col-md-12" data-wow-delay="0.2s">
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">

        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner text-center">

            <!-- Quote 1 -->
            <div class="item active">
                <blockquote>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">

                            <p>Un grand merci à Anthony qui a fait de notre première danse de mariage un moment magique que nous n’oublierons jamais ! Complètement débutants en danse, Anthony a réussi en quelques cours à nous apprendre des pas de base de rumba et une chorégraphie totalement personnalisée sur la chanson que nous avions choisi. Attentif à nos attentes et bon pédagogue, Anthony nous a permis de passer d’excellents moments en sa compagnie lors de nos cours et de nous lâcher sur la piste de danse! Nous ne pouvons que conseiller aux futurs mariés de se tourner vers Anthony pour leur ouverture de bal !</p>
                            <small>Oriane et Matthieu</small>
                        </div>
                    </div>
                </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="item">
                <blockquote>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">

                            <p>Mille merci à Anthony pour les cours qu’il nous a donné pour notre entrée de bal. Je rêvais depuis longtemps d’une entrée sur dirty dancing ! Après avoir convaincu mon partenaire et désormais mari, Anthony a su nous apprendre en quelques cours la chorégraphie. Patient, pédagogue et adorable, ça a été vraiment un plaisir pour nous de prendre ces cours, et même pour mon mari qui n’en avait jamais pris ! Vous pouvez lui faire confiance totalement ! Anthony nous a donné d’excellents conseils et nous lui disons encore un énorme merci !</p>
                            <small>Eve et Fabien</small>
                        </div>
                    </div>
                </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="item">
                <blockquote>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">

                            <p>Nous avons passé un super moment en famille (mes parents ont également suivi les cours) et Anthony a été un professeur parfait : attentif, très pro, pédagogue, patient, souriant en toute circonstance et très à l’écoute. Bref, nous avons adoré ! Nous souhaitions une ouverture de bal originale sur une danse latino et Anthony a su nous orienter vers la Bachata et tous nos invités ont été unanimes : c’était super ! N’hésitez pas à le contacter, vous pouvez y aller les yeux fermés… Nous recontacterons probablement Anthony pour apprendre d’autres danses ! Bravo Anthony !</p>
                            <small>Delphine & Anthony</small>
                        </div>
                    </div>
                </blockquote>
            </div>
            <!-- Quote 4 -->
            <div class="item">
                <blockquote>
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2">

                            <p>Chercher désespérément un prof de tango pour l’ouverture de son bal de mariage et trouver Anthony ! Une pédagogie de fou, une totale compréhension de l’attente de chacun et du rendu final! Les pas sont simples mais crée parfaitement l’illusion de nous croire danseur professionnel ! Tres humain et chaleureux …un pur plaisir pour pas cher et d’une qualité rare! Un tres grand merci… Sans modération même pour des cours sans raison particulière !</p>
                            <small>Béatrice</small>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>

        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
<div class="container-fluid" id="why-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Pourquoi nos cours particuliers sont ils nouveaux ?</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
      <p>Anthony Teyssier, fondateur de la société vous expliquent pourquoi nos cours particuliers sont « nouveaux »</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/47W62pje2pE" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
  <a name="cours-carousel"></a>

</div>

<div class="container-fluid" id="cours-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Decouvrez nos cours particuliers</h1>
    </div>
    
    <div class="container">
      <div class="col-xs-12">
          <div id="coursCarousel" class="carousel slide">
              
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <% @activity_groups1.each do |ac1| %>
                    <div class="col-xs-3">
                      <%= link_to activity_group_path(ac1) do %>
                        <%= image_tag ac1.picture, :alt => "Image", :class => "img-responsive", :style => "height:255px; width:255px;" %>
                        <div class="carousel-caption">
                          <h2 style="font-weight:900;font-size:1.4em;"><%= ac1.name %></h2>
                          <h2>A partir de 24.99 EUR</h2>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <% @activity_groups2.each do |ac2| %>
                    <div class="col-xs-3">
                      <%= link_to activity_group_path(ac2) do %>
                        <%= image_tag ac2.picture, :alt => "Image", :class => "img-responsive", :style => "height:255px; width:255px;" %>
                        <div class="carousel-caption">
                          <h2 style="font-weight:900;font-size:1.4em;"><%= ac2.name %></h2>
                          <h2>A partir de 24.99 EUR</h2>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <% @activity_groups3.each do |ac3| %>
                    <div class="col-xs-3">
                      <%= link_to activity_group_path(ac3) do %>
                        <%= image_tag ac3.picture, :alt => "Image", :class => "img-responsive", :style => "height:255px; width:255px;" %>
                        <div class="carousel-caption">
                          <h2 style="font-weight:900;font-size:1.4em;"><%= ac3.name %></h2>
                          <h2>A partir de 24.99 EUR</h2>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <% @activity_groups4.each do |ac4| %>
                    <div class="col-xs-3">
                      <%= link_to activity_group_path(ac4) do %>
                        <%= image_tag ac4.picture, :alt => "Image", :class => "img-responsive", :style => "height:255px; width:255px;" %>
                        <div class="carousel-caption">
                          <h2 style="font-weight:900;font-size:1.4em;"><%= ac4.name %></h2>
                          <h2>A partir de 24.99 EUR</h2>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <a name="events-carousel"></a>
            <!--/carousel-inner--> 
            <a class="left carousel-control" href="#coursCarousel" data-slide="prev">‹</a>

            <a class="right carousel-control" href="#coursCarousel" data-slide="next">›</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="events-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Preparez vos evenements</h1>
    </div>

    <div class="container">
      <div class="col-xs-12">
          <div id="eventsCarousel" class="carousel slide">
              
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <% @activity_groups5.each do |ac5| %>
                    <div class="col-xs-3">
                      <%= link_to activity_group_path(ac5) do %>
                        <%= image_tag ac5.picture, :alt => "Image", :class => "img-responsive", :style => "height:255px; width:255px;" %>
                        <div class="carousel-caption">
                          <h2 style="font-weight:900;font-size:1.4em;"><%= ac5.name %></h2>
                          <h2>A partir de 24.99 EUR</h2>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <% @activity_groups6.each do |ac6| %>
                    <div class="col-xs-3">
                      <%= link_to activity_group_path(ac6) do %>
                        <%= image_tag ac6.picture, :alt => "Image", :class => "img-responsive", :style => "height:255px; width:255px;" %>
                        <div class="carousel-caption">
                          <h2 style="font-weight:900;font-size:1.4em;"><%= ac6.name %></h2>
                          <h2>A partir de 24.99 EUR</h2>
                        </div>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
            <!--/carousel-inner--> 
            <a class="left carousel-control" href="#eventsCarousel" data-slide="prev">‹</a>

            <a class="right carousel-control" href="#eventsCarousel" data-slide="next">›</a>
          </div>
      </div>
    </div>
  </div>
  <a name="gift-anchor"></a> 
</div>
<div class="container-fluid" id="gift-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>À offrir</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <p>Nous éditons un bon cadeau personnalisé afin de plaisir au plus grand nombre. Le bénéficiaire pourra choisir la discipline qu’il souhaite.</p>
      <%= render :partial => 'gifts/form' %>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>
<div class="container-fluid" id="social-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Suivez nous</h1>
    </div>
    <div class="col-lg-6">
      <%= render :partial => 'newsletters/form' %>
    </div>
    <div class="col-lg-6 text-center">
      <div class="col-lg-4 text-center">
        <a href="https://twitter.com/NouveauxCP" target="_blank"><i class="fa fa-twitter" style="font-size:4em;"></i></a>
      </div>
      <div class="col-lg-4 text-center">
        <a href="https://www.facebook.com/Danseadomicile-187291627961084/?fref=nf" target="_blank"><i class="fa fa-facebook" style="font-size:4em;"></i></a>
      </div>
      <div class="col-lg-4 text-center">
        <a href="https://www.instagram.com/lesnouveauxcoursparticuliers/" target="_blank"><i class="fa fa-instagram" style="font-size:4em;"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="partners-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Partenaires</h1>
    </div>
  </div>
  <div class="container">
    <div class="col-xs-12">
      <div id="partnersCarousel" class="carousel slide"> 
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-xs-4">
                <a href="http://lci.tf1.fr/videos/2015/il-a-allie-la-danse-et-l-entreprise-pour-gagner-sa-vie-8625761.html?xtmc=danse&xtcr=1" target="_blank">
                  <%= image_tag('partner_lci.png', :alt => "Image", :class => "img-responsive") %>
                </a>
              </div>
              <div class="col-xs-4">
                <a href="http://www.leparisien.fr/bobigny-93000/bobigny-on-fourmille-d-idees-au-paradis-des-start-up-28-04-2015-4732031.php#xtref=https%3A%2F%2Fwww.google.fr%2F" target="_blank">
                  <%= image_tag('partner_leparisien.png', :alt => "Image", :class => "img-responsive") %>
                </a>
              </div>
              <div class="col-xs-4">
                <a href="http://www.moovjee.fr/les-mentores/" target="_blank">
                  <%= image_tag('partner_moovjee.png', :alt => "Image", :class => "img-responsive") %>
                </a>
              </div>
            </div>
            <!--/row-->
          </div>
          <!--/item-->
          <div class="item">
            <div class="row">   
              <div class="col-xs-4">
                <a href="http://www.le-comptoir.co/#les-incubes" target="_blank">
                  <%= image_tag('partner_lecomptoir.png', :alt => "Image", :class => "img-responsive") %>
                </a>
              </div>
              <div class="col-xs-4">
                <a href="http://mystartup.paris.fr/" target="_blank">
                  <%= image_tag('partner_mystartupparis.png', :alt => "Image", :style => "padding-left:6em;", :class => "img-responsive") %>
                </a>
              </div>
              <div class="col-xs-4">
                <a href="http://www.cherie25.fr/c-est-mon-choix-4861" target="_blank">
                  <%= image_tag('partner_cherie25.png', :alt => "Image", :class => "img-responsive") %>
                </a>
              </div>
            </div>
            <!--/row-->
          </div>
          <!--/item-->
        </div>
        <!--/carousel-inner--> 
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="press-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Presse</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8 text-center">
      <p>Contacter : Anthony Teyssier - 06.28.30.95.30 ou <a href="mailto:anthony@lesnouveauxcoursparticuliers">anthony@lesnouveauxcoursparticuliers</a></p>
      <br><br>
      <p><i class="fa fa-file-pdf-o"></i> <a href="#">Communiqué presse société</a></p>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>

<script>
$(document).ready(function() {
  $('#coursCarousel').carousel({
    interval: 10000
  })
    
  $('#coursCarousel').on('slid.bs.carousel', function() {
  });
    
  $('#eventsCarousel').carousel({
    interval: 10000
  })
    
  $('#eventsCarousel').on('slid.bs.carousel', function() {
  });

  $('#partnersCarousel').carousel({
    interval: 5000
  })
    
  $('#partnersCarousel').on('slid.bs.carousel', function() {
  });
    
});
</script>