<div class="sticky">
  <a href='/students/new'>Demande express</a>
</div>
<div class="container-fluid" id="header-container">
  <div class="row text-center" id="header-descriptors" style="margin-top:5em;">
    <div class="col-lg-4">
      <i class="fa fa-star fa-3x"></i>
      <h2>Cours 100% personnalisés</h2>
    </div>
    <div class="col-lg-4">
      <i class="fa fa-star fa-3x"></i>
      <h2>Professeurs sélectionnés</h2>
    </div>
    <div class="col-lg-4">
      <i class="fa fa-star fa-3x"></i>
      <h2>30 disciplines accessibles</h2>
    </div>
  </div>
  <div class="row text-center" id="header-descriptors" style="padding-bottom:2em;">
    <div class="col-lg-4">
      <i class="fa fa-star fa-3x"></i>
      <h2>6/7 de 7h à 22H30</h2>
    </div>
    <div class="col-lg-4">
      <i class="fa fa-star fa-3x"></i>
      <h2>Déductible des impôts</h2>
    </div>
    <div class="col-lg-4">
      <i class="fa fa-star fa-3x"></i>
      <h2>Ecoute & Conseils</h2>
    </div>
  </div>
  <div class="row text-center" style="border-top:5px solid white;border-bottom:5px solid white;background-color:rgba(0, 0, 0, 0.7); font-size:0.75em;" id="header-descriptors">
    <div class="col-lg-4">
      <h2>1. J’envoi ma demande</h2>
    </div>
    <div class="col-lg-4">
      <h2>2. Nous vous conseillons et personnalisons vos cours</h2>
    </div>
    <div class="col-lg-4">
      <h2>3. Vous profitez de vos cours avec votre prof dédié</h2>
    </div>
  </div>
  <a name="cours-carousel"></a>
  <div class="row" id="header-descriptors">
    <div class="col-lg-6">
      <a href="#cours-carousel" id="header-call-to-action" style="float:right;">Je choisi mon cours</a>
    </div>
    <div class="col-lg-6">
      <a href="#events-carousel" id="header-call-to-action" style="float:left;">Je prépare un événement</a>
    </div>
  </div>
</div>
<div class="container-fluid" id="cours-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Decouvrez nos cours particuliers</h1>
    </div>
    
    <div class="container">
      <div class="col-xs-12">
          <div id="coursCarousel" class="carousel slide">
              
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-xs-3">
                    <a href="/cours-de-danse-latino">
                      <%= image_tag('dancing1.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Cours de danse latino</h2>
                        <h2>A partir de 24.99 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="/cours-de-rock">
                      <%= image_tag('dancing2.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Cours de rock & swing</h2>
                        <h2>A partir de 24.99 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="/cours-de-valse-et-salon">
                      <%= image_tag('dancing3.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Cours de valse et salon</h2>
                        <h2>A partir de 24.99 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="/cours-de-danses-urbaines">
                      <%= image_tag('dancing4.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Cours de danses urbaines</h2>
                        <h2>A partir de 24.99 EUR</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <!--/row-->
              </div>
              <!--/item-->
              <div class="item">
                <div class="row">
                  <div class="col-xs-3">
                    <a href="/cours-de-danse-latino">
                      <%= image_tag('dancing1.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Cours de danse latino</h2>
                        <h2>A partir de 24.99 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="/cours-de-rock">
                      <%= image_tag('dancing2.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Cours de rock et swing</h2>
                        <h2>A partir de 24.99 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="/cours-de-valse-et-salon">
                      <%= image_tag('dancing3.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Cours de valse et salon</h2>
                        <h2>A partir de 24.99 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="/cours-de-danses-urbaines">
                      <%= image_tag('dancing4.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Cours de danses urbaines</h2>
                        <h2>A partir de 24.99 EUR</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <!--/row-->
              </div>
              <!--/item-->
            </div>
            <a name="events-carousel"></a>
            <!--/carousel-inner--> 
            <a class="left carousel-control" href="#coursCarousel" data-slide="prev">‹</a>

            <a class="right carousel-control" href="#coursCarousel" data-slide="next">›</a>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" id="events-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Preparez vos evenements</h1>
    </div>

    <div class="container">
      <div class="col-xs-12">
          <div id="eventsCarousel" class="carousel slide">
              
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-xs-3">
                    <a href="#">
                      <%= image_tag('event1.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">EVJF cours de danse pour elle</h2>
                        <h2>A partir de 500 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="#">
                      <%= image_tag('event2.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Ouverture du bal moderne</h2>
                        <h2>A partir de 200 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="#">
                      <%= image_tag('event3.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Soiree a theme musique</h2>
                        <h2>A partir de 100 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="#">
                      <%= image_tag('event4.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Pretement de sermont</h2>
                        <h2>A partir de 600 EUR</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <!--/row-->
              </div>
              <!--/item-->
              <div class="item">
                <div class="row">
                  <div class="col-xs-3">
                    <a href="#">
                      <%= image_tag('event1.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">EVJF cours de danse pour elle</h2>
                        <h2>A partir de 500 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="#">
                      <%= image_tag('event2.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Ouverture du bal moderne</h2>
                        <h2>A partir de 200 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="#">
                      <%= image_tag('event3.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Soiree a theme musique</h2>
                        <h2>A partir de 100 EUR</h2>
                      </div>
                    </a>
                  </div>
                  <div class="col-xs-3">
                    <a href="#">
                      <%= image_tag('event4.jpg', :alt => "Image", :class => "img-responsive") %>
                      <div class="carousel-caption">
                        <h2 style="font-weight:900;font-size:1.4em;">Pretement de sermont</h2>
                        <h2>A partir de 600 EUR</h2>
                      </div>
                    </a>
                  </div>
                </div>
                <!--/row-->
              </div>
              <!--/item-->
            </div>
            <!--/carousel-inner--> 
            <a class="left carousel-control" href="#eventsCarousel" data-slide="prev">‹</a>

            <a class="right carousel-control" href="#eventsCarousel" data-slide="next">›</a>
          </div>
      </div>
    </div>
  </div>
  <a name="gift-anchor"></a> 
</div>
<div class="container-fluid" id="gift-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>À offrir</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
    </div>
    <div class="col-lg-8">
      <p>Nous éditons un bon cadeau personnalisé afin de plaisir au plus grand nombre. Le bénéficiaire pourra choisir la discipline qu’il souhaite.</p>
      <%= render :partial => 'gifts/form' %>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>
<div class="container-fluid" id="social-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Suivez nous</h1>
    </div>
    <div class="col-lg-6">
      <%= render :partial => 'newsletters/form' %>
    </div>
    <div class="col-lg-6 text-center">
      <div class="col-lg-4 text-center">
        <i class="fa fa-twitter" style="font-size:4em;"></i>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-facebook" style="font-size:4em;"></i>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-instagram" style="font-size:4em;"></i>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" id="partners-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1>Presse et partenaires</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <%= image_tag('partner_lecomptoir.png', :style => "height:190px;") %>
    </div>
    <div class="col-lg-3">
      <%= image_tag('partner_bge.png', :style => "height:240px;") %>
    </div>
    <div class="col-lg-3">
      <%= image_tag('partner_movjee.png', :style => "height:175px;") %>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>


<script>
$(document).ready(function() {
  $('#coursCarousel').carousel({
    interval: 10000
  })
    
  $('#coursCarousel').on('slid.bs.carousel', function() {
  });
    
  $('#eventsCarousel').carousel({
    interval: 10000
  })
    
  $('#eventsCarousel').on('slid.bs.carousel', function() {
  });
    
});
</script>