<%= form_for(@activity_group) do |f| %>
  <% if @activity_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_group.errors.count, "error") %> prohibited this activity_group from being saved:</h2>

      <ul>
      <% @activity_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row text-center">
    <div class="col-lg-12">
      <div class="field">
        <%= f.text_field :name, placeholder: 'Nom de Famille de Activités (ex. Salsa & danses latinos)' %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <div class="field">
        <%= f.text_field :description, placeholder: 'Description de cette Famille de Activités (ex. Le rock n roll viens des Etats Unis. Elvis Presley est la star.)' %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <div class="field">
        <%= f.text_field :carousel_price, placeholder: 'Prix (sur Home Carousel)' %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <div class="field">
        <%= f.text_field :picture, placeholder: 'Ajouter une image qui represent cette Famille.' %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <div class="field">
        <%= f.text_field :main_picture, placeholder: 'Ajouter une image background pour cette Famille.' %>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-lg-12">
      <div class="actions">
        <%= f.submit 'Créer' %>
      </div>
    </div>
  </div>
<% end %>
