<p id="notice"><%= notice %></p>

<h1>Listing Activity Groups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @activity_groups.each do |activity_group| %>
      <tr>
        <td><%= link_to 'Show', activity_group %></td>
        <td><%= link_to 'Edit', edit_activity_group_path(activity_group) %></td>
        <td><%= link_to 'Destroy', activity_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity group', new_activity_group_path %>
