<div class="container-fluid" id="activity-group-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1><%= @activity_group.name %></h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="activity-group-main-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <p id="notice"><%= notice %></p>
      <div class="row">
        <div class="col-lg-5">
          <%= @activity_group.description %>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <% @activity_group.activities.each do |a| %>
              <div class="col-lg-2" style="border:1px solid black;margin:1em;height:140px;width:140px;">
                <%= a.name %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>