<style media="screen">
  #image-div { background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(<%= @activity_group.picture %>); }
  #activity-group-main-container { background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(<%= @activity_group.main_picture %>); }
</style>
<div class="container-fluid" id="activity-group-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1><%= @activity_group.name %></h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="activity-group-main-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <p id="notice"><%= notice %></p>
      <div class="row">
        <div class="col-lg-5">
          <%= @activity_group.description %>
        </div>
        <div class="col-lg-7">
          <div class="row">
            <% @activity_group.activities.each do |a| %>
              <div class="col-lg-2" id="image-div" style="border:1px solid black;margin:1em;padding:2.5em 1em 1em 1em;height:200px;width:200px;color:#f20661;">
                <%= link_to a.name, a %><br>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row" style="margin:2em 0;">
        <div class="col-lg-12">
          <a href="/students/new" id="activity-button">Devis personnalisé & réservation</a>
          <p id="disclaimer">* « Les Nouveaux Cours Particuliers SAS » est une structure déclarée service à la personne auprès le DIRRECTE Paris sous le numéro SAP 811071893. Vous bénéficiez en conséquence des avantages fiscaux relatifs aux service à la personne, à savoir une réduction/crédit d’impôt de 50% des montants engagés. Nous prenons en charge l’ensemble des démarches administratives. L’avantage fiscal est valable pour les cours  dispensés à domicile de manière individuelle ou dans le cadre familial. Tarif après réduction fiscale. </p>
          <%= image_tag('services_a_la_personne.png', :alt => "Image", :class => "logo-sap") %>
        </div>
      </div>
      <div class="row">
        <%= link_to 'Back', root_path %>
      </div>
      
    </div>
  </div>
</div>