<div class="container-fluid" id="activity-group-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1>Listing Gifts</h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="activity-group-main-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-12" id="header-title">
        <table>
          <thead>
            <tr>
              <th>Sender</th>
              <th colspan="1"></th>
              <th>Email</th>
              <th>Phone number</th>
              <th>Gift amount</th>
              <th>Activity</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @gifts.each do |gift| %>
              <tr>
                <td><%= gift.sender_first_name %></td>
                <td><%= gift.sender_last_name %></td>
                <td><%= gift.sender_email %></td>
                <td><%= gift.sender_phone_number %></td>
                <td><%= gift.gift_amount %></td>
                <td><%= gift.gift_activity %></td>
                <td><%= link_to 'Show', gift %></td>
                <td><%= link_to 'Edit', edit_gift_path(gift) %></td>
                <td><%= link_to 'Destroy', gift, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to 'New Gift', new_gift_path %>
      </div>
    </div>
  </div>
</div>