<div class="container" id="teacher-profile-container">
  <div class="row">
    <p id="notice"><%= notice %></p>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <%= image_tag @teacher.avatar.url %>
    </div>
    <div class="col-lg-6">
      <p>Prenom : <%= @teacher.first_name %></p>
      <p>Email : <%= @teacher.email %></p>
      <p>Mobile : <%= @teacher.phone_number %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <p>Mots du professeur</p>
      <p><%= @teacher.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <%= link_to 'Edit', edit_teacher_path(@teacher) %> |
      <%= link_to 'Back', teachers_path %>
    </div>
  </div>
</div>
