<style media="screen">
  #activity-main-container { background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ), url(<%= @activity.activity_group.picture %>); }
</style>
<div class="container-fluid" id="activity-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1><%= @activity.name %></h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="activity-main-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <p id="notice"><%= notice %></p>
      <div class="row">
        <div class="col-lg-5">
          <%= @activity.description %>
        </div>
        <div class="col-lg-7">
          <iframe width="420" height="315" src="<%= @activity.you_tube_video %>">
          </iframe>
          <p id="disclaimer">« Vidéo d’illustration de l’activité proposée, n’appartenant pas à Les Nouveaux Cours Particuliers SAS. »</p>
          <table id="pricing-table">
            <tr>
              <th colspan="3">Tarif</th>
            </tr>
            <tr>
              <td>1 personne</td>
              <td>à partir de</td>
              <td><%= @activity.price_one_person %> €/h*</td>
            </tr>
            <tr>
              <td>Couple</td>
              <td>à partir de</td>
              <td><%= @activity.price_two_persons %> €/h*</td>
            </tr>
            <tr>
              <td>Groupe</td>
              <td>à partir de</td>
              <td><%= @activity.price_group %> €/h*</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="row" style="margin:2em 0;">
        <div class="col-lg-12">
          <a href="#formActivity" id="activity-button">Devis personnalisé & réservation</a>
          <p id="disclaimer">* « Les Nouveaux Cours Particuliers SAS » est une structure déclarée service à la personne auprès le DIRRECTE Paris sous le numéro SAP 811071893. Vous bénéficiez en conséquence des avantages fiscaux relatifs aux service à la personne, à savoir une réduction/crédit d’impôt de 50% des montants engagés. Nous prenons en charge l’ensemble des démarches administratives. L’avantage fiscal est valable pour les cours  dispensés à domicile de manière individuelle ou dans le cadre familial. Tarif après réduction fiscale. </p>
          <%= image_tag('services_a_la_personne.png', :alt => "Image", :class => "logo-sap") %>
        </div>
      </div>
      <a name="formActivity"></a>
    </div>
  </div>
</div>
<div class="container-fluid" id="new-student-alt-container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="row">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center" id="header-title">
                <p></p>
              </div>
            </div>

            <%= render :partial => 'students/form_activity' %>

          </div>
        </div>
      </div>
      <div class="row">
        <%= link_to 'Back', root_path %>
      </div>
    </div>
  </div>
</div>
<script>
  $("#activity-button").click(function(){
    $("#new-student-alt-container").toggle();
});
</script>