<div class="container-fluid" id="activity-header-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <h1><%= @activity.name %></h1>
    </div>
  </div>
</div>
<div class="container-fluid" id="activity-main-container">
  <div class="row">
    <div class="col-lg-12 text-center" id="header-title">
      <p id="notice"><%= notice %></p>
      <div class="row">
        <div class="col-lg-5">
          <%= @activity.description %>
        </div>
        <div class="col-lg-7">
          <%= @activity.you_tube_video %>
        </div>
      </div>
      <%= link_to 'Back', root_path %>
    </div>
  </div>
</div>